n8n/health-check.json
{
  "name": "Music Reel – Daily Health Check",
  "nodes": [
    {
      "parameters": {
        "content": "## Daily Health Check (Optional)\n\n**Setup:**\n1. Set environment variable `FLASK_BASE_URL` to your laptop's IP (e.g. `http://192.168.1.100:5050`)\n2. Activate this workflow\n\n**Behavior:**\n- Fires at 8 AM MST daily\n- Checks Flask for pending reels that need approval\n- If pending count > 3, routes to the \"Send Notification\" branch\n- If the laptop is off, the HTTP request fails silently\n\n**Add your notification:** Replace the placeholder node with Email, Telegram, Slack, or whatever you prefer.",
        "height": 300,
        "width": 460,
        "color": 5
      },
      "id": "c1d2e3f4-a5b6-4c7d-8e9f-0a1b2c3d4e5f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [160, -80]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "d2e3f4a5-b6c7-4d8e-9f0a-1b2c3d4e5f6a",
      "name": "Every Day at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.FLASK_BASE_URL }}/api/status",
        "options": {
          "timeout": 10000
        }
      },
      "id": "e3f4a5b6-c7d8-4e9f-0a1b-2c3d4e5f6a7b",
      "name": "Check Flask Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-pending-count",
              "leftValue": "={{ $json.pending }}",
              "rightValue": "3",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f4a5b6c7-d8e9-4f0a-1b2c-3d4e5f6a7b8c",
      "name": "Needs Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {},
      "id": "a5b6c7d8-e9f0-4a1b-2c3d-4e5f6a7b8c9d",
      "name": "Send Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 200],
      "notesInFlow": true,
      "notes": "Replace this with your preferred notification node (Email, Telegram, Slack, etc.)"
    }
  ],
  "connections": {
    "Every Day at 8 AM": {
      "main": [
        [
          {
            "node": "Check Flask Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Flask Status": {
      "main": [
        [
          {
            "node": "Needs Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Approval?": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Denver",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
